* {
    background-color: #2F2A26;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}

h1 {
    padding: 2rem;
    color: #D88C5A;
    font-family: Hevetica, Arial, san-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    width: 100%;
    background-color: #FFF8F0;
    margin-bottom: 1.5rem;
    padding: 1rem 0;
}

nav a {
    color: #D88C5A;
    background-color: #FFF8F0;
    text-decoration: none;
}

nav a:hover {
    color: #FFF8F0;
}

audio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 50%;
    color-scheme: dark;
}

audio:hover {
    opacity: 100%;
}

.storefront {
    display: block;
    width: 100%;
}

.message {
    display: flex;
    flex-direction: column;
    background-color: #FFF8F0;
    color: black;
    width: 100%;
    word-spacing: 1ch;
    line-height: 2;
}

.message p:first-child {
    margin: 25px 50% 25px 25px;
}

.message p:last-child {
    margin: 25px 25px 25px 50%;
    text-align: end;
}

.opening {
    background-color: transparent;
}

#sig-loaf {
    display: block;
    margin-inline: auto;
    max-width: 98%;
    margin-top: 6rem;
}

#hours-location {
    margin: 6rem auto;
    padding: 3rem 0;
    border: .5rem solid #D88C5A;
    line-height: 2;
    font-size: x-large;
    text-align: center;
    color: #FFF8F0;
    max-width: 50%;
}

li {
    list-style-type: none;
}

.featured-item {
    background-color: #FFF8F0;
}

.featured-item p {
    padding-top: 2rem;
    background-color: transparent;
}

#featured-item {
    text-align: center;
    margin: 2rem;
    font-size: 24pt;
}

picture img {
    max-width:98%;
    margin-bottom: 4rem;
}

footer {
    text-align: center;
    margin-top: 200px;
    padding-bottom: 100px;
    color: #FFF8F0;
}

.product-message {
    text-align: center;
    font-size: x-large;
    background-color: #FFF8F0;
    padding: 4rem;
}

/* --------------------------- PRODUCT PAGE --------------------------- */

#breads {
    background-color: #FFF8F0;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 2rem;
    margin: 2rem 0;
}

#breads figcaption {
    color:#FFF8F0;
}

#pastries {
    background-color: #FFF8F0;
    text-align: center;
    padding: 2rem;
    margin: 2rem 0;
}

#cakes {
    background-color: #FFF8F0;
    text-align: center;
    padding: 2rem;
    margin: 2rem 0;
}

#price-range {
    background-color: #FFF8F0;
    text-align: center;
    padding: 2rem;
    margin: 2rem 0;
}

#bread-price {
    align-self: center;
    width: 50px;
    background-color: white;
    text-align: center;
    width: 100px;
    line-height: 1.5;
}

#price-range-label {
    background-color: #FFF8F0;
}

/* --------------------------- ABOUT PAGE --------------------------- */

h2 {
    background-color: #FFF8F0;
    padding: 2rem;
    text-align: center;
}

#philosophy {
    width: 100%;
}

#philosophy video {
    display: block;
    margin-inline: auto;
    width: 100%;
}

#philosophy p {
    background-color: white;
    line-height: 2;
    font-size: 1.25rem;
    padding: 3rem 2rem;
    text-align: center;
}

#philosophy p:nth-child(2) {
    font-size: 1.5rem;
    text-align: start;
    padding-top: 10%;
    padding-right: 50vw;
}

#philosophy p:nth-child(3) {
    font-size: 1.25rem;
    text-align: end;
    padding-left: 50vw;
}

#philosophy p:nth-child(4) {
    font-size: 1.75rem;
    padding: 10vw;
}

#staff-highlights p {
    text-align: center;
    padding: 2rem;
    margin: 4rem;
    font-size: x-large;
    color: #FFF8F0;
}

#staff-highlights img {
    display: block;
    margin-inline: auto;
    width: 50vw;
}

form {
    padding: 25px 10vw;
    background-color: white;
    color: rgb(0, 0, 0);
}

legend {
    text-align: center;
    font-size: larger;
    padding: 25px;
    background-color: white;
}

label {
    background-color: white;
}

#contact-info,
#request-info {
    display: grid;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    background-color: white;
}


fieldset input,
fieldset select,
fieldset textarea {
    font-size: 11pt;
    background-color: white;
    max-width: 300px;
    width: 100%;
    height: 25px;
    text-align: center;
}

fieldset textarea {
    height: 100px;
}

fieldset textarea::placeholder,
fieldset  {
    text-align: left;
    padding-left: 10px;
}

button {
    display: block;
    margin-inline: auto;
    margin-top: 25px;
    padding: 10px 25px;
    background-color: rgb(0, 110, 212);
    color: white;
    font-size: 1.2rem;
    border-radius: 45px;
    box-shadow: none;
    border: none;
}

button:hover {
    background-color: rgb(23, 131, 219);
    font-weight: bold;
    font-size: 1.2rem;
}

/* --------------------------- @ MEDIA BEYOND MOBILE --------------------------- */

@media (min-width: 768px) {
    body {
        display: grid;
        grid-template-areas: "header title"
                             "nav main"
                             "footer footer";
                             grid-template-columns:  minmax(200px,10vw) 90vw;
                             grid-template-rows: 15% 75% 10%;
    }

    header {
        grid-area: header;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .logo img {
        width: 200px;
        height: auto;
    }

    h1 {
        padding: 1rem;
    }

    h2 {
        max-width: 80vw;
        width: 100%;
    }
    
    nav {
        grid-area: nav;
        flex-direction: column;
    }
    
    nav a {
        background-color: #FFF8F0;
        margin: .1rem 0;
        flex-direction: column;
        padding: 1rem;
    }

    nav a:hover {
        background-color: #D88C5A;
        border: 10px solid #FFF8F0;
    }

    main {
        min-width: 0;
        max-width: 90vw;
    }

    audio {
        grid-area: main;
        width: 50%;
        padding: 25px;
        margin: auto;
    }

    .storefront {
        max-width: 50vw;
        margin-inline: auto;
        padding: 50px;
    }

    .message {
        max-width: 90%;
    }
    
    .message p:first-child {
        margin: 50px;
        font-size: x-large;
        text-align: center;
    }
    
    .message p:last-child {
        margin: 50px;
        font-size: x-large;
        text-align: center;
        line-height: 3;
    }

    section.featured-item {
        padding-bottom: 40px;
    }

    img {
        display: block;
        width: 50vw;
        margin-inline: auto;
    }

    #philosophy {
        background-color: #2F2A26;
    }

    #philosophy video {
        width: 50%;
        max-width: 100%;
        display: block;
        height: auto;
        margin: auto;
        padding: 50px 0;
    }

    #philosophy p {
        background-color: #2F2A26;
        color:#FFF8F0;
        width: 100%;
        max-width: 25vw;
    }

    #philosophy p:nth-child(2) {
        padding-right: 50vw;
    }
    #philosophy p:nth-child(3) {
        padding-left: 50vw;
        padding: 1vw 3vw 1vw 1vw;
        margin-left: 50vw;
    }
    #philosophy p:nth-child(4) {
        margin: auto;
    }
    
    footer {
        grid-area: footer;
        text-align: center;
    }

}